@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+3&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #111111;
  color: white;
  margin: 0;
}

.main {
  padding: 2rem;
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #EAEAEA;
  margin: 0;
  margin-top: .5rem;
}

a {
  color: #67BAFF;
  text-decoration-color: #2A82CC;
}

.hero {
  text-align: center;
  margin-bottom: 100px;
}

.hero > .title {
  font-size: 1.75rem;
}

section > p:first-of-type::first-letter {
  margin-left: 1rem;
}

p {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.3rem;
}

nav {
  margin-left: -5px;
  background-color: rgba(17, 17, 17, .5);
  backdrop-filter: blur(5px);
  z-index: 1;
  position: fixed;
  display: block;
  padding: .5rem;
  border: 1px solid #F7F7F7;
  border-radius: 9px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: center;
  transition: background-color .2s;
}

nav:hover, nav:focus {
  background-color: #2F2F2F;
}

nav:hover > .subtitle, nav:focus > .subtitle {
  color: #111111;
}

nav > .subtitle {
  margin: 0;
  font-family: monospace;
  font-weight: bolder;
}

#nav-menu {
  margin: 0;
  padding: 0;
  display: block;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

#nav-menu.active {
  visibility: visible;
}

#nav-menu > .main > ul {
  margin-top: 50px;
}

#nav-menu .tabs {
  display: block;
  padding-top: 50px;
}

.tabs {
  padding-top: 50px;
}

.tabs a {
  display: block;
  color: #F7F7F7;
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(247, 247, 247, .1);
}

.tabs .active {
  background-color: #F7F7F7;
  color: #111111;
}

#search-bar {
  border: 1px solid #F7F7F7;
  border-radius: 20px;
  font: inherit;
  background-color: transparent;
  padding: 1rem;
  width: 70%;
  outline: none;
  color: inherit;
  transition: border-width .25s;
  display: inline-block;
  margin-right: .5rem;
  position: sticky;
  top: 1;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: inherit;
  font: inherit;
  transition: background-color .25s, color .25s;
}

button:focus {
  background-color: #2F2F2F;
}

#search-bar:focus {
  border-width: 1px;
}

#card-box {
  margin-top: 3rem;
}

.card {
  border: 1px solid #F7F7F7;
  border-radius: 20px;
  border-top-left-radius: 0;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
  text-transform: lowercase;
}

.card > .word {
  margin: 0;
  font-family: "Rubik", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:before {
  content: "";
  background-color: #94DBC8;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-bottom-right-radius: 20px;
}

.card.not-root:before {
  background-color: #94B3DB;
}

.patterns {
  list-style: square;
  margin: 0;
}

.pattern {
  
}

.ghost {
  margin-left: 1rem;
  color: #CBCBCB;
  float: right;
}